target
.*
!.gitignore
!.travis.yml
*.iml
/aveliosdata
/aveliosdatabackup
/release
/application-*.properties*
*.log
/resources
*.sh
snomed-drools-rules
/tmp
/local*
build
SnomedCT_InternationalRF2_PRODUCTION_20220930T120000Z
SnomedCT_InternationalRF2_PRODUCTION_20220930T120000Z.zip
